<!-- your html code here -->
<div class="porfolio">
    <h1>Porfolio</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, ducimus expedita incidunt sed aspernatur culpa
        iste
        commodi nihil laborum, illum facere quo voluptate laudantium nesciunt eos beatae consequatur velit!
        Exercitationem!
    </p>
    <div class="row">
        <div class="col-4 mb-6">
            <div class="card ">
                <img src="..\website\assets\img\big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>

            </div>
        </div>
        <div class="col-4 mb-6">
            <div class="card ">
                <img src="..\website\assets\img\big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>

            </div>
        </div>
        <div class="col-4 mb-6">
            <div class="card ">
                <img src="..\website\assets\img\big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>

            </div>
        </div>
    </div>
</div>