<!-- your html code here -->
<div class="row" id="services">
    <div class="col-4">
        <img src="..\website\assets\img\2.jpg" alt="aqui esta la foto">
    </div>
    <div class="col-8">
        <h1>The Second Heading Is Pretty Cool Too.  </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minus natus, cupiditate in voluptates iure consequuntur ex, deleniti esse nihil error consequatur, asperiores omnis possimus architecto earum molestiae! Reprehenderit, neque.</p>
    
    </div>
    
</div>    


  
